<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="login-container">
    <form class="login-form" action="/signup" method="POST">
        <h2>Create an Account</h2>
        <div class="input-group">
            <input type="text" name="first_name" required>
            <span>First Name</span>
        </div>
        <div class="input-group">
            <input type="text" name="last_name" required>
            <span>Last Name</span>
        </div>
        <div class="input-group">
            <input type="text" name="username" required>
            <span>Username</span>
        </div>
        <div class="input-group">
            <input type="email" name="email" required>
            <span>Email Address</span>
        </div>
        <div class="input-group">
            <input type="password" name="password" required>
            <span>Password</span>
        </div>
        <div class="input-group">
            <select name="user_type" required>
                <option value="">Select Type</option>
                <option value="employer">Employer</option>
                <option value="applicant">Applicant</option>
            </select>
            <span>Type</span>
        </div>
        <button type="submit">Create Account</button>
        <p class="sign-up">Already have an account? <a href="/">Login</a></p>
    </form>
</div>
</body>
</html>
